/* Feel free to edit CSS of body if you'd like. We provide you the light gray background color and font family in the body styling */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  background-color: #e6ecf0;
}

.main-content{
  display:flex;
  width: 90%;
  justify-content: space-between;
  max-width: 1190px;
  margin: 56px auto;
  gap: 5px;
}

.profile{
  background-color: white;
  width:290px;
}

.profile-image{
  position: absolute;
  top: 170px;
  
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.banner{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
}

.tweets{
  background-color: rgb (255,169,169);
  width: 50%;
  height: fit-content;
  display:flex;
  flex-direction: column;
  gap:2px
}

.tweet{
  background-color: white;
  border-bottom: 1px solid;
  min-height:51px;
  display:flex;
  padding-top: 10px;
  padding-bottom:10px;
}

.tweet-profile-pic{
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.tweet-info{
  width: 75%;
  height: 75%;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 10px;
}

.account-name{
  margin: left 5px;
  font-size: medium;
  color:black;
}

.tweet-content{
  margin: left 5px;
  color:black;
}

.who-to-follow{
  background-color: white;
  width: 290px;
  display:flex;
  flex-direction: column;
  gap:2px;
}

@media (max-width:1200px){
  .who-to-follow{
    display:none;
  }
}

.follower-recommendation{
  width: 75%;
  height: 100px;
}
